
.search-section
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
  padding-top: 0rem;
}
.search-section .search-section-header
{
  width: 500px;
  border: 1px transparent black; /*Lo pongo como referencia nomas*/
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1;
}

.search-section-header p
{
  width: fit-content;
  height: fit-content;
}

.search-section #specialty-input
{
  width: 200px;
  height: 28px;
  border-radius: 4px;
}
.search-section #btn-new-specialty
{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background-color: #164c7c;
  color: #effaff;
}

#btn-new-specialty:hover
{
  cursor: pointer;
  background-color: #4676de;
  font-weight: 900;
}
