#sidebar
{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eaeaea;
}

.sidebar-header
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header .sidebar-title
{
  color: #0b3b60;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

.sidebar-header .sidebar-subtitle
{
  color: #6b7280;
  font-size: 0.80rem;
}

.sidebar-nav .main-list, .bottom-list
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav a, .sidebar-bottom a
{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #4b5563;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
}

#sidebar .sidebar-bottom
{
  margin-top: auto;
  border-top: 1px solid #eaeaea;
  padding-top: 1rem;
}

.sidebar-nav li:hover
{
  background-color: #f4f7f9;
  border-right: 2px solid black;
}

.sidebar-nav li:hover a
{
  color: #0b3b60;
  font-weight: 600;
}

.sidebar-bottom li:hover
{
  background-color: #f4f7f9;
  border-right: 2px solid black;
}

.sidebar-bottom li:hover a
{
  color: #0b3b60;
  font-weight: 600;
}

.user-info
{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  margin-top: 0.5rem;
}
.user-info img
{
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.user-name
{
  color: #0b3b60;
  font-weight: 600;
  font-size:0.95rem;
}
.user-role
{
  color: #6b7280;
  font-size: 0.75rem;
}