
.dashboard-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100dvh;
  background-color: #effaff;;
}

.dashboard-container nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #ffff;
  left: -200px;
}

.dashboard-container .open
{
  position: absolute;
  grid-area: nav;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #ffff;
  left: 0;
}


.dashboard-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-container nav ul li {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.dashboard-container > header {
  grid-area: header;
  height: 50px;
  background-color: #245aa0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.dashboard-container header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-container main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: left;
}

.dashboard-container > footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}