
.dashboard-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100dvh;
  background-color: #effaff;;
}

.dashboard-container nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #ffff;
  left: -200px;
}

.dashboard-container .open
{
  position: absolute;
  grid-area: nav;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #ffff;
  left: 0;
}


.dashboard-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-container nav ul li {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.dashboard-container > header {
  grid-area: header;
  height: 50px;
  background-color: #245aa0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.dashboard-container header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-container main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto;
}

.dashboard-container > footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/*Estilo para el nav*/

#sidebar
{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eaeaea;
}

.sidebar-header
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header .sidebar-title
{
  color: #0b3b60;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

.sidebar-header .sidebar-subtitle
{
  color: #6b7280;
  font-size: 0.80rem;
}

.sidebar-nav .main-list, .bottom-list
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav a, .sidebar-bottom a
{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #4b5563;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
}

#sidebar .sidebar-bottom
{
  margin-top: auto;
  border-top: 1px solid #eaeaea;
  padding-top: 1rem;
}

.sidebar-nav li:hover
{
  background-color: #f4f7f9;
  border-right: 2px solid black;
}

.sidebar-nav li:hover a
{
  color: #0b3b60;
  font-weight: 600;
}

.sidebar-bottom li:hover
{
  background-color: #f4f7f9;
  border-right: 2px solid black;
}

.sidebar-bottom li:hover a
{
  color: #0b3b60;
  font-weight: 600;
}

.user-info
{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  margin-top: 0.5rem;
}
.user-info img
{
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.user-name
{
  color: #0b3b60;
  font-weight: 600;
  font-size:0.95rem;
}
.user-role
{
  color: #6b7280;
  font-size: 0.75rem;
}

/*Estilo para la sección de búsqueda*/

.search-section
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.search-section .search-section-header
{
  width: auto;
  height: fit-content;
  border: 1px transparent black; /*Lo pongo como referencia nomas*/
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1;
}
.search-section #specialty-input
{
  width: 200px;
  height: 28px;
  border-radius: 4px;
}
.search-section #btn-new-specialty
{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
}

#btn-new-specialty:hover
{
  cursor: pointer;
  background-color: #4676de;
}

/*Estilo para las cards*/

.specialty-info-cards
{
  grid-area: "cards";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  flex-grow: 1;
  flex-basis: 0;
}

.specialty-info-cards .info-card
{
  width: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap:8px;
  border: 1px solid rgba(183, 183, 183, 0.724);
  border-radius: 7px; 
}

.card-header
{
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
}

.card-icon
{
  display: flex;
  width: 22px;
  height: 30px;
  color: #4676de;
  border-radius: 3px;
  background: rgb(184, 204, 205);
  align-items: center;
  justify-content: center;
}
.card-icon img
{
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 600px) {
  .dashboard-container {
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
      "header header"
      "nav main"
      "footer footer";
  }

  .dashboard-container nav {
    grid-area: nav;
    position: static;
    left: 0;
    height: auto;
  }

  .dashboard-container header div .menu {
    display: none;
  }
}

/*Estilo para la tabla*/

.specialty-table
{
  margin: 10px;
  border-radius:5px;
  border: 1px solid rgba(128, 128, 128, 0.453);
  border-radius: 10px;
  background-color: #ffffffe8;
}

.specialty-table thead
{
 background-color: #f4fafa;
 text-align: left;
}

.specialty-table td
{
  border-top: 1px solid #ffffff26;
  text-wrap: wrap;
  text-overflow: ellipsis;
  background-color: #ffff;
}

.specialty-table td:nth-child(3)
{
  width: 56px;
  background-color: #63f9db;
  border-radius: 15px;
  text-align: center;
}