
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100%;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container form #username
{
  border-radius: 5px;
}
.login-container form #password
{
  border-radius: 5px;
}
.login-container form header
{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0;
}
.login-container form header h4{
  
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .login-container {
    align-items: center;
  }

  .login-container form {
    width: 400px;
  }
}